# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
.env

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/
ENV/

# ==========================
# Flask specific
# ==========================
instance/
uploads/
*.tar
*.pid

# ==========================
# Logs & Cache
# ==========================
*.log
*.lock
*.bak
*.swp
*.tmp
.cache/
__pycache__/

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/
*.code-workspace

# ==========================
# System files (Windows/macOS)
# ==========================
Thumbs.db
desktop.ini
.DS_Store
$RECYCLE.BIN/

# ==========================
# Export files
# ==========================
*.xlsx
*.csv
*.zip
*.tar.gz
*.bak

# ==========================
# Environment & Config
# ==========================
.env
.env.*
Competency Monitor_Update.pbix
